.site-title {
    font-size: 1.3rem;
}
.form-list {
    margin: auto;
}
.article-item {
    width: 90%;
    padding: 20px 0;
}
.article-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}
.example{
    display: block;
    width: 250px;
    padding: 15px 0;
    margin: auto;
    background: #4169e1;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
}
.example:hover{
    background: #00008b;
}
button {
    width: 30%;
    height: 50px;
    background-color: #41e186;
    color: #ffffff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
}